<main class="contenedor panel-administracion">
    <h1><%= nombrePagina %></h1>
    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>


    </div>
    <div class="seccion-admin">
        <h2>Proximos Eventos - Meetis</h2>
        <% if(meeti.length > 0) {  %> 
        <ul>
            <% meeti.forEach(meeti => { %> 
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es') %> 
                    <% const fecha = meeti.fecha + ' '+meeti.hora %> 
                    <p class="fecha"><%= moment( fecha ).format('LLLL') %> Horas </p>
                    <h3><%= meeti.titulo %> </h3>
                    <small><%= meeti.interesados %>  Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-meeti/<%= meeti.id %> " class="btn btn-verde">Editar</a>
                    <a href="/asistentes-meeti/<%= meeti.id %> " class="btn btn-azul">Asistentes</a>
                    <a href="/eliminar-meeti/<%= meeti.id %> " class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %> 
        </ul>
        <% } else { %> 
            <p>Aun no tienes meetis, crea uno</p>
        <% } %> 
    </div>
    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <%if(grupos.length) {%>
        <ul>
            <% grupos.forEach(grupo => { %>
            <li>
                <div class="informacion-admin">
                    <h3><%=grupo.nombre%></h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-grupo/<%=grupo.id%>" class="btn btn-verde">Editar</a>
                    <a href="/imagen-grupo/<%=grupo.id%>" class="btn btn-azul2">Imagen</a>
                    <a href="/eliminar-grupo/<%=grupo.id%>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %>
        </ul>
            <% } else { %>
        <p>No tiene ningun grupo creado, crea uno</p>
            <%}%>
    </div>
    <div class="seccion-admin">
        <h2>Anteriores Eventos - Meetis</h2>
        <% if(meetiAnt.length > 0) {  %> 
        <ul>
            <% meetiAnt.forEach(meeti => { %> 
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es') %> 
                    <% const fecha = meeti.fecha + ' '+meeti.hora %> 
                    <p class="fecha"><%= moment( fecha ).format('LLLL') %> Horas </p>
                    <h3><%= meeti.titulo %> </h3>
                    <small><%= meeti.interesados %>  Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-meeti/<%= meeti.id %> " class="btn btn-verde">Editar</a>
                    <a href="/asistentes-meeti/<%= meeti.id %> " class="btn btn-azul">Asistentes</a>
                    <a href="/eliminar-meeti/<%= meeti.id %> " class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %> 
        </ul>
        <% } else { %> 
            <p>Aun no tienes meetis anteriores</p>
        <% } %> 
    </div>
</main>